@import "../../theme/variables.scss";

.blogPost {
}

article {
  color: white;
}

hr {
  clear: both;
}

pre {
  padding: 1em;
  background-color: black;
  border: 1px solid #6d6d28;
  float: left;
}
